@import '../../styles/variables';

.header {
  padding: 5rem 1.5rem;
  color: $white;
  text-align: center;
  background-color: $peach;
  background-image: url('/assets/home/desktop/bg-pattern-hero-home.svg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: $mediumViewport) {
    margin: 0 2.5rem;
    border-radius: 0.5rem;
    padding: 3.75rem;
  }

  @media screen and (min-width: $largeViewport) {
    width: 70rem;
    margin: auto;
    padding: 9.0625rem 5.9375rem;
    text-align: left;
    ;
  }

  &__paragraph {
    margin: 0.875rem 0 1.5rem;

    @media screen and (min-width: $mediumViewport) {
      margin: 0.5rem 0 1.25rem;
    }

    @media screen and (min-width: $largeViewport) {
      margin: 0.75rem 0 2.5rem;
    }
  }
}