@import '../../styles/variables';

.header {
  background-image: url(../../../public/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg);
  background-position: right top;
  background-size: 250%;
  background-repeat: no-repeat;

  @media screen and (min-width: $mediumViewport) {
    background-image: url(../../../public/assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg);
    background-position: 90px 50%;
    background-size: cover;
  }
}