@import './variables';

.about__grid {
  margin-top: 7.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

  @media screen and (min-width: $largeViewport) {
    margin-top: 10rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
  }
}