@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
// variables
// colors
$peach: #e7816b;
$black: #1d1c1e;
$white: #fff;
$lightPeach: #ffad9b;
$darkGrey: #333136;
$lightGrey: #f1f3f5;

// font
$fontType: 'Jost',
sans-serif;

// layout
$mediumViewport: 48rem;

// global styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontType;
}

body {
  font-size: 1rem;
  line-height: 1.625rem;
}

// headings
h1,
h2,
h3 {
  font-weight: 500;
  font-size: $fontType;
}

h1 {
  font-size: 2rem;
  line-height: 2.25rem;

  @media screen and (min-width: $mediumViewport) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 1.4px;

  @media screen and (min-width: $mediumViewport) {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 2px;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}


.btn {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  letter-spacing: 1px;
  height: 3.5rem;
  min-width: 9.5rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;

  &:hover {
    color: $white;
    background: $lightPeach;
  }
}

.btn--primary {
  color: $darkGrey;
  background: $white;
}

.btn--secondary {
  color: $white;
  background: $peach;
}
