@import './variables.scss';

.locations {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2.5rem;

    @media screen and (min-width: $mediumViewport) {
      gap: 2rem;
      margin-bottom: 7.5rem;
    }

    @media screen and (min-width: $largeViewport) {
      grid-template-columns: 2fr 1fr;
      margin-bottom: 2rem;

      &:nth-child(2) {
        grid-template-columns: 1fr 2fr;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__img_wrapper {

    picture,
    img {
      min-height: 100%;
      width: 100%;

      @media screen and (min-width: $mediumViewport) {
        border-radius: 0.9375rem;
      }
    }
  }

  @media screen and (min-width: $largeViewport) {

    &__canada,
    &__uk {
      order: 2;
    }
  }
}