// colors
$peach: #e7816b;
$black: #1d1c1e;
$white: #fff;
$lightPeach: #ffad9b;
$darkGrey: #333136;
$lightGrey: #f1f3f5;

// font
$fontType: 'Jost',
sans-serif;

// layout
$mediumViewport: 48rem;
$largeViewport: 75rem;
