// colors
$peach: rgb(231, 129, 106);
$black: rgb(29, 28, 30);
$white: rgb(255, 255, 255);
$lightPeach: rgb(255, 173, 155);
$darkGrey: rgb(51, 49, 54);
$lightGrey: rgb(241, 243, 245);
$locationImgBg: rgba(93, 2, 2, 0.0001),
rgba(93, 2, 2, 0.5);
$cardBg: rgb(255, 243, 240);

// font
$fontType: 'Jost',
sans-serif;

// layout
$mediumViewport: 48rem;
$largeViewport: 75rem;
