@import './variables';

.grid {
  padding-top: 6rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;

  @media screen and (min-width: $mediumViewport) {
    gap: 2rem;
    padding-top: 7.5rem;
    padding-bottom: 3.75rem;
  }

  @media screen and (min-width: $largeViewport) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}

.cta__grid {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media screen and (min-width: $mediumViewport) {
    padding-top: 3.75rem;
  }

  @media screen and (min-width: $largeViewport) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'app graphic';
    padding-bottom: 5rem;
  }
}