.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__imgBg {
    position: absolute;
    width: 12.626rem;
    height: 12.626rem;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    opacity: 0.2;
  }

  img {
    position: relative;
  }

  h3 {
    margin: 3rem 0 2rem;
  }
}