@import '../../styles/variables';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: $darkGrey;

  @media screen and (min-width: $mediumViewport) {
    flex-direction: row;
    text-align: left;
  }

  @media screen and (min-width: $largeViewport) {
    flex-direction: column;
    text-align: center;
  }

  &__imgBg {
    position: absolute;
    width: 12.626rem;
    height: 12.626rem;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    opacity: 0.2;

    @media screen and (min-width: $mediumViewport) {
      left: 0;
      transform: none;
    }

    @media screen and (min-width: $largeViewport) {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  img {
    position: relative;
  }

  &__text {
    h3 {
      margin: 3rem 0 2rem;

      @media screen and (min-width: $mediumViewport) {
        margin-top: 0;
        margin-bottom: 1rem;
      }

      @media screen and (min-width: $largeViewport) {
        margin: 3rem 0 2rem;
      }
    }

    @media screen and (min-width: $mediumViewport) {
      margin-left: 3rem;
    }

    @media screen and (min-width: $largeViewport) {
      margin-left: 0;
    }
  }
}