@import '../../styles/variables';

.footer {
  background: $black;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 15.875rem 0 4rem;

  @media screen and (min-width: $mediumViewport) {
    text-align: left;
    padding: 10.375rem 0 5rem;
    }

    @media screen and (min-width: $largeViewport) {
      padding: 9rem 0 4.5rem;
  }

  &__firstRow,
  &__secondRow {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $mediumViewport) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__firstRow {
    @media screen and (min-width: $mediumViewport) {
      margin-bottom: 2.5rem;
    }
  }

  &__secondRow {
    margin-top: 2.5rem;
    color: rgba($white, 0.5);
    display: flex;

    @media screen and (min-width: $mediumViewport) {
      margin-top: 2rem;
      justify-content: space-between;
    }
  }

  &__logo {
    width: 12.625rem;
    margin-bottom: 2rem;

    @media screen and (min-width: $mediumViewport) {
      margin-bottom: 0;
      margin-right: auto;
    }

    img {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    margin-top: 2rem;

    @media screen and (min-width: $mediumViewport) {
      flex-direction: row;
      margin-top: 0;
    }

    &__item {
      font-size: 0.875rem;
      line-height: 0.875rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 2rem;
      position: relative;

      &::after {
        transition: all 300ms ease-in-out;
        position: absolute;
        content: '';
        bottom: -2px;
        right: 0;
        width: 0;
        height: 1px;
        background: $white;
        border-radius: 3.125rem;
      }

      &:hover {
        &::after {
          width: 100%;
          left: 0;
        }
      }

      @media screen and (min-width: $mediumViewport) {
        margin-bottom: 0;
        margin-right: 2.625rem;

        &:last-of-type {
          margin-right: 0;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__info {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  &__info_second_block {
    margin-top: 2.5rem;
    @media screen and (min-width: $mediumViewport) {
      margin-top: 0;
    }
  }

  &__social {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    @media screen and (min-width: $mediumViewport) {
      align-self: flex-end;
    }

    &_item {
      transition: all 300ms ease-in-out;
      align-self: center;

      path {
        transition: all 300ms ease-in-out;
      }

      &:hover {
        transform: scale(1.15);
      }
      &:hover path {
        fill: $lightPeach;
      }
    }
  }
}