@import '../../styles/variables';

.header {
  background: $peach;
  padding: 0;
  text-align: center;
  color: $white;
  display: grid;
  grid-template-columns: 1fr;

  picture,
  img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  img {
    min-width: 100%;

    @media screen and (min-width: $largeViewport) {
      height: 100%;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0.5rem;
    }
  }

  @media screen and (min-width: $mediumViewport) {
    margin: 0 2.5rem;
    border-radius: 0.5rem;
  }

  @media screen and (min-width: $largeViewport) {
    width: 70rem;
    margin: auto;
    text-align: left;
    grid-template-columns: 3fr 2fr;

    &__img_wrapper {
      order: 2;
    }
  }

  &__text {
    padding: 5rem 1.5rem;

    @media screen and (min-width: $mediumViewport) {
      padding: 4rem 3.625rem;
    }

    @media screen and (min-width: $largeViewport) {
      order: 1;
      padding: 8.4375rem 5.125rem;
    }
  }

  h1 {
    margin-bottom: 1.5rem;

    @media screen and (min-width: $mediumViewport) {
      margin-bottom: 2rem;
    }
  }
}